<div *ngIf = "this._messageProvider.isAppReadyToUse | async" class = "home">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <tabset class = "tabset">
      <tab *ngIf = "this._messageProvider._hasDataSubject | async" heading = 'Visualize Data' active = "true">
        <search-component></search-component>
      </tab>
      <tab *ngIf = "this._messageProvider._hasDataSubject | async" heading = "Conversation Summaries">
        
      </tab>
      <tab heading = 'Load Data' class = "loadTab">
        <div class = "container">
          <ngb-accordion style = "justify-self: start" #acc="ngbAccordion">
            <ngb-panel title="How to use with your Facebook data">
              <ng-template ngbPanelContent>
                Starting from Facebook go to: <br>
                Facebook settings -> Your Facebook Information -> Download Your Information<br>
                Make sure to request your data in a JSON format as shown below: <br><br>
                <img style = "width: 100%" src="../../assets/settings-for-download.png"><br><br>
                Please note that your data may take a day or so for Facebook to process and is only available for a limited time. <br><br>
                After you get an email notification from Facebook, download the .zip file from the Available Copies tab and load any conversation in: <br>
                messages -> inbox -> (FOLDER OF CONVERSATION YOU WANT TO ANALYZE) -> message_1.json
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <button style = "margin-top: auto" type = "button" (click) = "loadFiles()" class = "btn btn-primary">Load Data</button>
        </div>
    </tab>
  </tabset>
  <div *ngFor = "let alert of _alerts" class = 'alert'>
      <alert 
        [type] = "alert.type"
        [dismissible] = "alert.dismissible"
        [dismissOnTimeout]="alert.timeout"
        (onClosed) = "onClosed(alert)">
        {{ alert.msg }}
      </alert>
    </div>
</div>
