.container {
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .disclaimer-modal {
    margin-top: 20vh;
  }

  .disclaimer{
    width: 50vw;
    display: flex;
    font-size: 1.1em;
    text-align: left;
    flex-direction: column;

    .delete-existing-data {
      margin-top: 15px;
      font-size: 1em;
      align-self: center;
    }

    .disclaimer-buttons {
      align-self: center;
      margin-top: 10px;

      .disclaimer-button{
        margin: 10px;
      }
    }
  }

  .loadDataButton {
    margin-top: auto;
  }
}

.alert {
  margin-top: auto;
}

.loadTab {
  height: 65vh;
}

.home {
  // background: url(../../assets/background.jpg) no-repeat center fixed;
  // -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  // background-size: cover; /* version standardisée */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabset {
  flex-grow: 1;
}

.tab-header {
  justify-self: flex-start;
}

.title {
  background: linear-gradient(#5680FF, #59A0FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  outline: black 10px;
  margin: 0;
  align-self: center;
  justify-self: start;
  padding: 20px 10px;
  font-weight: 600;
}
