.chart-filters-container {
    min-width: 245px;
}

.modal-container {
    display: flex;
    justify-content: center;
}

.filters-modal-content {
    height: fit-content;
    width: 50vw;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .dropdown {
        margin: 10px;
    }
}
