.filter {
    display: flex;
    width: 15vw;
}

.filters-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dropdown {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.chart-component {
    height: 100%;
}

.filter-picker {
    width: 1em;
    height: 1.5em;
    margin-right: 1vw;
    margin-left: 1vw;
}

.filter-dropdown {
    width: 10vw;
}