.word-summary-container {
  height: 75vh;
  display: flex;
  flex-direction: column;

  .word-summary-filters-container {
    margin: 10px;
  }

  .word-grid-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .word-grid {
    flex: 1;
    width: 99vw;
  }
}
