.modal-content-container {
  display: flex;
  justify-content: center;

  .fit-content {
    height: fit-content;
    width: fit-content;
  }

  .select-item {
    margin: 10px;
  }

  .select-container {
    display: flex;
  }
}
